html, body {
  margin: 0;
  padding: 0;
  background: #111;     
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  color: #ffda79;
}

canvas {
  margin-top: 20px;
  border: 2px solid #555;
  border-radius: 10px;
}

#instructions {
  margin-top: 20px;
  font-size: 18px;
  color: #ccc;
}

@media (max-width: 600px) {
  canvas {
    width: 95% !important;
    height: auto !important;
  }
}